<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add users</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
  <%- include("../partials/header.ejs") %>

  <form action="/" method="post">
    <label for="uname">User Name:</label><br/>
    <input type="text" name ="uname" ><br/><br/>
    <label for="email">Email:</label><br/>
    <input type="email" name ="email"><br/><br/>
    <button type="submit">Add User</button>
  </form>

  <%- include("../partials/footer.ejs") %>
</body>
</html>