<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View template Engine</title>
</head>
<body>
  <h1>Learning EJS:</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptas, sunt quae, odio ut atque deserunt, eum reiciendis esse fugiat magni est quibusdam blanditiis voluptatem. Repellat ullam dicta asperiores ipsum.</p>
</body>
</html>